/*
  Navbar CSS
*/

nav {
  background: #8E0E00;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1F1C18, #8E0E00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-bottom: 5px dotted black;
}

.nav-link:focus {
  color: cyan; 
  /* text-decoration: underline; */
  font-weight: bold;
}

.nav-link:active {
  font-style: italic;
  font: bold;
}

.nav-link:hover {
  color: #4aaaa5;
  text-decoration-color: #4aaaa5;
  background-color: transparent;
}
